.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.cproject
.buildpath

*.jar
*.class
*.iml
.idea
*.dot
target/
error.txt
logg.txt
page_links_en.nt

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
